<!--<app-user></app-user>
<router-outlet></router-outlet>
-->

<div class="ch bg fw fx fy fz">
  <h1
    id="543c"
    class="og oh gr be oi oj ok dx ol om on dz oo nb op oq or nf os ot ou nj ov ow ox oy bj"
    data-selectable-paragraph=""
  >
    Primero lo primero
  </h1>
  <p
    id="0560"
    class="pw-post-body-paragraph mq mr gr ms b mt oz mv mw mx pa mz na nb pb nd ne nf pc nh ni nj pd nl nm nn gk bj"
    data-selectable-paragraph=""
  >
    No pretendo desprestigiar angularjs/Angular con este post ni mucho menos a
    los que prefieren Angular sobre React, solamente quiero exponer por qué
    elegí React sobre Angular y hasta el día de hoy lo sigo haciendo, de hecho
    quiero enumerar algunas cosas antes de entrar en materia.
  </p>
  <ul class="">
    <li
      id="38e7"
      class="mq mr gr ms b mt mu mv mw mx my mz na nb nc nd ne nf ng nh ni nj nk nl nm nn pe pf pg bj"
      data-selectable-paragraph=""
    >
      Cuando conocí angularjs me enamoré inmediatamente, el poder hacer
      bindings, el scope entre otras cosas me cautivaron en su momento.
      (Imagínate te muestren todo este universo cuando solo usabas vainilla
      javascript)
    </li>
    <li
      id="f52c"
      class="mq mr gr ms b mt ph mv mw mx pi mz na nb pj nd ne nf pk nh ni nj pl nl nm nn pe pf pg bj"
      data-selectable-paragraph=""
    >
      De Angular me gusta que se decidieron por Typescript, lenguaje que me
      gusta montones. Aunque ya con React puedes usarlo también
    </li>
   
<li
id="38e7"
class="mq mr gr ms b mt mu mv mw mx my mz na nb nc nd ne nf ng nh ni nj nk nl nm nn pe pf pg bj"
data-selectable-paragraph=""
>
Cuando conocí angularjs me enamoré inmediatamente, el poder hacer
bindings, el scope entre otras cosas me cautivaron en su momento.
(Imagínate te muestren todo este universo cuando solo usabas vainilla
javascript)
</li>
<li
id="38e7"
class="mq mr gr ms b mt mu mv mw mx my mz na nb nc nd ne nf ng nh ni nj nk nl nm nn pe pf pg bj"
data-selectable-paragraph=""
>
Cuando conocí angularjs me enamoré inmediatamente, el poder hacer
bindings, el scope entre otras cosas me cautivaron en su momento.
(Imagínate te muestren todo este universo cuando solo usabas vainilla
javascript)
</li>

<li
id="38e7"
class="mq mr gr ms b mt mu mv mw mx my mz na nb nc nd ne nf ng nh ni nj nk nl nm nn pe pf pg bj"
data-selectable-paragraph=""
>
Cuando conocí angularjs me enamoré inmediatamente, el poder hacer
bindings, el scope entre otras cosas me cautivaron en su momento.
(Imagínate te muestren todo este universo cuando solo usabas vainilla
javascript)
</li>
  </ul>
 @defer (on viewport) { 
  <app-comments></app-comments>
}@placeholder {
    <p>Futuros comentarios</p>
}@loading {
    <p>Cargando comentarios</p>
}
</div>

